data/raw/electionsBR/2014/party_mun_zone.csv filter=lfs diff=lfs merge=lfs -text
data/raw/electionsBR/2018/party_mun_zone.csv filter=lfs diff=lfs merge=lfs -text
data/raw/electionsBR/2022/party_mun_zone.csv filter=lfs diff=lfs merge=lfs -text
